.flexcol{
    display:flex;
    flex-direction: column;
    max-width:350px;
}

.flexrow{
    display:flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.flexrowBtn{
    display:flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.flexrowCenter{
    display:flex;
    justify-content: center;
    margin-bottom: 5px;
}
.resetBtn{
    min-width: 100px;
    font-weight: bold;
    font-size: large;
    margin-top:10px;
    margin-bottom:10px;
    background-color: white;
}

.whiteBtn{
    background-color: white;
    border-color: white;
    color:blueviolet;
    border-width: 0px;
}

