.appWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    max-width: 1400px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 200px) minmax(500px,200px));
}

.box1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.box2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.box3{
    grid-row-start: 2;
    grid-row-end: 2;
}

.box4{

    grid-row-start: 3;
    grid-row-end: 3;
}

.box5{
    grid-row-start: 4;
    grid-row-end: 4;
}
